.scrool{
    background-image:url(/images/img_parallax.jpg);
    width: 1485px;
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position :center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}
.span span{

    background-color: black;
    color: white;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    width: 400px;
    

  }
  .lessheight{
    background-image: url(	https://www.w3schools.com/howto/img_parallax2.jpg);
    width: 1485px;
    height: 450px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    letter-spacing: 10px;
  }
  .paragraph{
    background-color: black;
    color: white;
    height: 100px;
    padding-top: 45px;
    padding-left: 35px;
  }
  .third{
    background-image: url(	https://www.w3schools.com/howto/img_parallax3.jpg
    );
    width: 1485px;
    height: 450px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    letter-spacing: 10px;
     

}
.four h1{
  background-image:url(/images/img_parallax.jpg);
  width: 1485px;
  height: 900px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position :center;
  background-attachment: fixed;
 
  
}